<template>
  <div>
    <n-menu mode="horizontal" :options="menuOptions" />
  </div>
</template>
<script lang="ts" setup>
import { NMenu } from "naive-ui";
import { h } from "vue";
import type { MenuOption } from "naive-ui";
import { NuxtLink } from "#components";

const menuOptions: MenuOption[] = [
  {
    label: () =>
      h(
        NuxtLink,
        {
          to: {
            name: "index",
          },
        },
        { default: () => "Home" }
      ),
    key: "home",
  },
  {
    label: () =>
      h(
        NuxtLink,
        {
          to: {
            path: "/about",
          },
        },
        { default: () => "About" }
      ),
    key: "about",
  },
];
</script>
