
@font-face {
    font-family: "Poppins";
    src: local("Poppins"),     url(@/assets/Poppins/Poppins-Regular.ttf) format("truetype");}

html {
  font-family: "Poppins";
}

.doc {
  padding-left: 20px;
}

