<template>
  <main>
    <n-space>
      <n-layout>
        <n-scrollbar>
          <div class="doc">
            <ContentDoc v-slot="{ doc }">
              <n-h1>{{ doc.title }}</n-h1>
              <ContentRenderer :value="doc" />
              <p>Källa: {{ doc.source }}</p>
            </ContentDoc>
          </div>
        </n-scrollbar>
      </n-layout>
    </n-space>
  </main>
</template>
<script lang="ts" setup>
import {
  NScrollbar,
  NSpace,
  NLayout,
  NLayoutHeader,
  NLayoutContent,
  NH1,
  NUl,
  NOl,
  NA,
  NLi,
} from "naive-ui";
</script>
<style>
/* Copied from n-a */
a {
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s var(--n-bezier),
    text-decoration-color 0.3s var(--n-bezier);
  text-decoration-color: var(--n-text-color);
  color: var(--n-text-color);
}
</style>
