<template>
  <main>
    <n-space>
      <n-layout>
        <n-scrollbar>
          <div class="doc">
            <n-layout-header>
              <n-h1>Recipes</n-h1>
            </n-layout-header>

            <n-space vertical>
              <div v-for="recipe in data" :key="recipe.title">
                  <router-link :to="recipe._path" #="{ navigate, href }" custom>
                    <n-a :href="href" @click="navigate"> {{ recipe.title }} </n-a>
                  </router-link>
              </div>
            </n-space>
          </div>
        </n-scrollbar>
      </n-layout>
    </n-space>
  </main>
</template>
<script setup>
import {
  NA,
  NScrollbar,
  NSpace,
  NLayout,
  NLayoutHeader,
  NH1,
} from "naive-ui";

const { data } = await useAsyncData("index", () =>
  queryContent("/recipes").find()
);
</script>
<style>
</style>
